*.a
*.o
*.elf
*.ELF
*.prx
*.PRX
*.sfo
*.SFO
*.pbp
*.PBP
*.bin
*.BIN
dist/
.vscode/

CIPL/ipl_block_*.h
CIPL/combine/ipl_block_*.h
CIPL/payloadex/nand_payloadex_*.h
Installer/galaxy.h
Installer/inferno.h
Installer/march33.h
Installer/march33_620.h
Installer/march33_660.h
Installer/popcorn.h
Installer/recovery.h
Installer/satelite.h
Installer/stargate.h
Installer/systemctrl.h
Installer/usbdevice.h
Installer/vshctrl.h
PXE/Launcher/Rebootex_prx.h
PXE/Launcher/installer.h
PXE/Launcher/rebootex.h
PXE/RebootexPXE/main.s
PXE/RebootexPXE/systemctrl.h
Rebootex_bin/main.s
Rebootex_bin/rebootex.h
